<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/battle';
            var socket = io(namespace);
                
            // var roster = io.sockets.clients('chatroom1');
                    
            // roster.forEach(function(client) {
            //     console.log('Username: ' + client.nickname);
            // });


            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });

            $('form#username').submit(function(event) {
                console.log("here")
                socket.nickname = $('#username_data').val()
                socket.emit('username_event', {data: $('#username_data').val()});
                return false;
            });
        });
    </script>
</head>
<body style="background-color:white;">

    <h1>{{name}}</h1>

    <form id="attack" method="POST" action='#'>
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="defend" method="POST" action='#'>
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="heal" method="POST" action='#'>
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="special power" method="POST" action='#'>
        <input type="submit" value="Send Broadcast Message">
    </form>
    
</body>
</html>