<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{url_for('static',filename='js/utils.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/join_room.js')}}"></script>
    <script src="{{url_for('static',filename='js/choose_character.js')}}"></script>
    <script src="{{url_for('static',filename='js/choose_username.js')}}"></script>
    <style>
        .hidden{
            visibility: hidden;
        }

    </style>
</head>
<body style="background-color:white;">

    <button class="hidden creatureButton" id="Godzilla">Godzilla</button>
    <button class="hidden creatureButton" id="SodaBottle">Soda Bottle</button>
    <button class="hidden creatureButton" id="Mothera">Mothera</button>
    <button class="hidden creatureButton" id="Gamera">Gamera</button>

    <h1 id="header"></h1>
    <h1 id="waiting" class="hidden">Waiting for Other Players</h1>

    <form id="username" method="POST" action='#'>
        <input type="text" name="username_data" id="username_data" placeholder="Username">
        <input type="submit" value="Username">
    </form>

    <form id="startBattle" class="hidden" method="POST" action='#'>
        <input type="submit" value="Start Battle">
    </form>

    <form id="join" class="hidden" method="POST" action='#'>
        <input type="submit" value="Join Room">
    </form>

    <ol id="usersInRoom" class="hidden"></ol>

    <h2 class="hidden battle">Action Select</h2>
    
    <button class="hidden actionButton battle" id="attack"> 
        Attack
    </button>
    <button class="hidden actionButton battle" id="defend">
        Defend
    </button>
    <button class="hidden actionButton battle" id="heal">
        Heal
    </button>
    <button class="hidden actionButton battle" id="sp">
        Special Power
    </button>

    <h2 class="hidden battle">Creature Select</h2>

    <div class="creatureButtonDiv" id="userButton"></div><br>

    <form class="hidden" id="playCards">
        <input type="submit" value="Play Cards">
    </form>

    <h2>Logs</h2>

    <form autocomplete="off" id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Send Broadcast Message">
    </form>
    
    <div id="log" ></div>
</body>
</html>