<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{url_for('static',filename='js/utils.js')}}"></script>
    <style>
        .hidden{
            visibility: hidden;
        }

    </style>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io();
            socket.room = [];
            socket.character;
            socket.removeCharacter = null;
            socket.hp;
            socket.round_defense = 0;
            socket.charge = 0;
            socket.round_damage = 0;
            socket.cards_played = 0;
            socket.first_attacker;
            socket.id_to_username = {};
            socket.id_to_character = {};
            socket.character_to_id = {};
            socket.character_to_id = {};
            socket.current_action_selected;
            socket.current_creature_selected;
            socket.current_creature_playing;
            socket.in_room = false;


            socket.on('join_response_global',function(msg,cb) {
                console.log("join_response")
                socket.room.push(msg.user_id)
                console.log(socket)
                if (cb)
                    cb();
            })  

            socket.on('action_notice_response',function(msg,cb) {
                $('body').append('<br>'+'<p class=hidden actionNotice> logs #' + socket.id_to_username[msg.acting_user_id] + ' performed ' + msg.current_action_selected +' on you </p>');
            })
            
            // msg.user_health_modifier
            // msg.defense_modifier
            // msg.acting_user
            socket.on('action',function(msg){
                console.log("action from " + socket.id_to_username[msg.acting_user])
                console.log("health: " + msg.user_health_modifier)
                console.log("defense: " + msg.defense_modifier)

                if(msg.user_health_modifier >= 0) {
                    console.log("here")
                    socket.hp += msg.user_health_modifier;
                }
                else {
                    console.log("here")
                    socket.round_damage += msg.user_health_modifier;
                    socket.first_attacker = msg.acting_user;
                    console.log(socket.first_attacker)
                }

                if(msg.defense_modifier) {
                    console.log(msg.defense_modifier)
                    console.log(socket.round_defense)
                    socket.round_defense += msg.defense_modifier
                }
            })

            //msg.target_user_id
            //msg.acting_user_id
            socket.on('block_damage_response',function(msg) {
                socket.hp -= 1;
                console.log("You take one damage from" + socket.id_to_username[msg.acting_user_id])
                console.log(socket.hp)
            })

            socket.on('calculate_data_response',function(msg){
                if(socket.first_attacker && socket.round_defense > 0) {
                    console.log(socket.round_damage)
                    console.log(socket.round_defense)
                    socket.hp += (socket.round_damage + socket.round_defense)
                    console.log("sending block damage")
                    console.log("first attacker" + socket.first_attacker)
                    console.log("sent by" + socket.id)
                    socket.emit('block_damage_event',{'target_user_id': socket.first_attacker, 'acting_user_id':socket.id})
                }
                else if(socket.round_damage != 0) {
                    socket.hp += (socket.round_damage)
                }
                $("p").show();
                socket.current_action_selected = "";
                socket.current_creature_selected = "";
                console.log(socket.id)
                console.log(socket)
                console.log(socket.hp)
            })

            socket.on('action_global',function(msg){
                socket.cards_played += 1;
                if(socket.cards_played == socket.room.length) {
                    socket.cards_played = 0
                    $('#userButton .creatureSelectButton').css('background-color','')
                    $('#userButton .creatureSelectButton').attr('disabled','disabled')
                    $('.actionButton').attr('disabled','disabled')
                    $('.actionButton').css('background-color','unset')
                    $('#playCards').hide()
                    console.log("ready for calculations")
                    socket.emit('calculate_data_event',{})
                }
                
            })

            socket.on('room_battle_start',function() {
                console.log("room battle start")
                console.log("__________________")
                $('#startBattle').hide()
                $('#header').hide()
                $('.creatureButton').hide()
                $('#waiting').hide()
                $('.battle').show()
                socket.room.forEach(function(item,index) {
                    innerItem = socket.id_to_character[item]
                    $('#userButton').append(`<button id="${innerItem + "SelectButton"}" class="creatureSelectButton">${innerItem}</button>`)
                })
            });

            socket.on('join_response_local',function() {
                console.log("join response local")
                $('.creatureButton').show()
                $('.creatureButton').colorList()
                $('#join').hide()
                $('#waiting').show();
            });

            socket.on('alert_first_user',function(msg,cb) {
                console.log(socket.id)
                if(msg.first_id == socket.id)
                {
                    console.log(socket.id)
                    $('#startBattle').show()
                }
                $('#waiting').hide()
                if (cb)
                    cb();
            });

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'connected to the SocketServer...'});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });


            socket.on('username_global_response',function(msg,cb) {
                socket.id_to_username[msg.id] = msg.username
            })

            socket.on('character_chosen_local', function(msg,cb) {
                $('#header').html((msg.character_id + " chosen"));
                if (cb)
                    cb();
            })

            socket.on('character_chosen_global', function(msg,cb) {
                $('#'+msg.character_id).attr('disabled','disabled');
                console.log("disabled" + msg.character_id)

                socket.character_to_id[msg.character_id] = msg.user_id

                socket.id_to_character[msg.user_id] = (msg.character_id)

                if(msg['remove_character'] != null) {
                    console.log("here")
                    $('#'+msg['remove_character']).removeAttr('disabled')
                }

                var first_user_ready;
                console.log(socket.room.length)
                if(socket.room.length > 0 && socket.id_to_character && Object.keys(socket.id_to_character).length > 1)
                {
                        console.log("room size of at least one")
                        first_user_ready = socket.room[0]
                        console.log(socket.room)
                        var stringRoom = JSON.stringify(socket.room);
                        socket.emit('first_ready', {'room': 'room1','room_size': socket.room.length, 'id': socket.id, 'first_id_ready': first_user_ready,'users_in_room':stringRoom});
                }

                if(socket.in_room) {
                    $('#usersInRoom').removeClass("hidden")
                    $('#usersInRoom').html("")
                    socket.room.forEach(function(item,index) {
                        if(socket.id_to_character[item])
                        {
                            console.log(socket)
                            var string = '<li syle="visibility:visible">';
                            string += socket.id_to_username[item] + ": ";
                            console.log(socket.id_to_character[item])
                            innerItem = socket.id_to_character[item]
                            string += (innerItem + (" (hp: <span id=hpSpan"+item+'>'+socket.hp+"</span>) "));
                            console.log(string)
                            string += '</li>';
                            $('#usersInRoom').append(string);
                        }
                    });

                }
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': '+ msg.username + " has chosen " + msg.character_id).html());
                if (cb)
                    cb();
            })

            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });

            $('form#username').submit(function(event) {
                console.log("here")
                socket.username = $('#username_data').val()
                socket.id_to_username[socket.id] = socket.username 
                socket.emit('username_event', {'username': $('#username_data').val(),'id':socket.id});
                $('#username').hide();
                $('#join').show();
                return false;
            });

            $('form#join').submit(function(event) {
                console.log("form join")
                socket.in_room = true;
                var first_user_ready;
                roomLength = socket.room ? socket.room.size : 0; 
                if(roomLength > 0)
                {
                        console.log("room size of at least one")
                        first_user_ready = socket.room[0]
                        console.log(socket.room)
                }
                var stringRoom = JSON.stringify(socket.room);
                socket.emit('join', {'room': 'room1','room_size': roomLength, 'id': socket.id, 'first_id': first_user_ready,'users_in_room':stringRoom});
                return false;
            });

            $('form#startBattle').submit(function(event) {
                socket.emit('start_battle',{'room':'room1'})
                return false;
            });

            //this defines that all button clicks perform this event
            $('.creatureButton').click(function(event) {
                id_str = $(this).attr('id');
                if(socket.character){
                    socket.removeCharacter = socket.character
                }
                socket.character = id_str;
                
                //FIXME
                socket.hp = 20
                socket.emit('character_chosen', {'character_id': $(this).attr('id'), 'user_id': socket.id, 'remove_character': socket.removeCharacter});
                return false;
            });

            $('#playCards').submit(function(event){
                socket.current_creature_playing = socket.id_to_character[socket.id]
                socket.emit('play_cards',{'user_id':socket.id, 'character_id' : socket.current_creature_playing, 
                    'target_user_id' : socket.character_to_id[socket.current_creature_selected],
                    'current_creature_selected':socket.current_creature_selected, 
                    'current_action_selected':socket.current_action_selected})
                $('#playCards').hide();
                $('#waiting').show()
                socket.emit('action_notice_event',{'user_id':socket.id, 'character_id' : socket.current_creature_playing, 
                    'target_user_id' : socket.character_to_id[socket.current_creature_selected],
                    'current_creature_selected':socket.current_creature_selected, 
                    'current_action_selected':socket.current_action_selected})
                return false;
            })

            $('.actionButton').click(function(event){
                console.log('action button')
                socket.current_action_selected = $(this).attr('id');
                $('.actionButton').css('background-color','unset')
                $(this).css('background-color','SeaGreen');
                if(socket.current_action_selected && socket.current_creature_selected)
                {
                    $('#playCards').show();
                }
                return false;
            })

            $('#userButton').on('click','.creatureSelectButton',function(event){
                console.log($(this).attr('id'))
                console.log("creature select")
                socket.current_creature_selected = $(this).attr('id').replace('SelectButton','');
                $('#userButton .creatureSelectButton').css('background-color','')
                $(this).css('background-color','SeaGreen');
                if(socket.current_action_selected && socket.current_creature_selected)
                {
                    $('#playCards').show();
                }
                return false;
            });


        });
    </script>
</head>
<body style="background-color:white;">

    <button class="hidden creatureButton" id="Godzilla">Godzilla</button>
    <button class="hidden creatureButton" id="SodaBottle">Soda Bottle</button>
    <button class="hidden creatureButton" id="Mothera">Mothera</button>
    <button class="hidden creatureButton" id="Gamera">Gamera</button>

    <h1 id="header"></h1>
    <h1 id="waiting" class="hidden">Waiting for Other Players</h1>

    <form id="username" method="POST" action='#'>
        <input type="text" name="username_data" id="username_data" placeholder="Username">
        <input type="submit" value="Username">
    </form>

    <form id="startBattle" class="hidden" method="POST" action='#'>
        <input type="submit" value="Start Battle">
    </form>

    <form id="join" class="hidden" method="POST" action='#'>
        <input type="submit" value="Join Room">
    </form>

    <ol id="usersInRoom" class="hidden"></ol>

    <h2 class="hidden battle">Action Select</h2>
    
    <button class="hidden actionButton battle" id="attack"> 
        Attack
    </button>
    <button class="hidden actionButton battle" id="defend">
        Defend
    </button>
    <button class="hidden actionButton battle" id="heal">
        Heal
    </button>
    <button class="hidden actionButton battle" id="sp">
        Special Power
    </button>

    <h2 class="hidden battle">Creature Select</h2>

    <div class="creatureButtonDiv" id="userButton"></div><br>

    <form class="hidden" id="playCards">
        <input type="submit" value="Play Cards">
    </form>

    <h2>Logs</h2>

    <form autocomplete="off" id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Send Broadcast Message">
    </form>
    
    <div id="log" ></div>
</body>
</html>