<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{url_for('static',filename='js/utils.js')}}"></script>
    <style>
        .hidden{
            visibility: hidden;
        }

    </style>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io();
            socket.room = [];
            socket.characters = [];
            socket.id_to_username = {};
            socket.id_to_characters = {};
            socket.character_id_to_name = {};
            socket.current_action_selected;
            socket.current_creature_selected;
            socket.in_room = false;


            socket.on('join_response_global',function(msg,cb) {
                console.log("join_response")
                socket.room.push(msg.user_id)
                console.log(socket)
                if (cb)
                    cb();
            })                 

            socket.on('room_battle_start',function() {
                console.log("room battle start")
                console.log("__________________")
                $('#startBattle').hide()
                $('#header').hide()
                $('.creatureButton').hide()
                $('#waiting').hide()
                $('.battle').show()
                socket.room.forEach(function(item,index) {
                    socket.id_to_characters[item].forEach(function(innerItem,index) {
                        $('#userButton').append('<button class="creatureSelectButton">'+innerItem+'</button>')
                    })
                })
            });

            socket.on('join_response_local',function() {
                console.log("join response local")
                $('.creatureButton').show()
                $('.creatureButton').colorList()
                $('#join').hide()
                $('#waiting').show();
            });

            socket.on('alert_first_user',function(msg,cb) {
                console.log(socket.id)
                if(msg.first_id == socket.id)
                {
                    console.log(socket.id)
                    $('#startBattle').show()
                }
                $('#waiting').hide()
                if (cb)
                    cb();
            });

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'connected to the SocketServer...'});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });


            socket.on('username_global_response',function(msg,cb) {
                socket.id_to_username[msg.id] = msg.username
            })

            socket.on('character_chosen_local', function(msg,cb) {
                $('#header').html((msg.character_id + " chosen"));
                if (cb)
                    cb();
            })

            socket.on('character_chosen_global', function(msg,cb) {
                $('#'+msg.character_id).attr('disabled','disabled');
                console.log("disabled" + msg.character_id)
                if(!socket.id_to_characters[msg.user_id])
                    socket.id_to_characters[msg.user_id] = []
                socket.id_to_characters[msg.user_id].push(msg.character_id)
                console.log(socket.id_to_characters)

                var first_user_ready;
                console.log(Object.keys(socket.id_to_characters).length)
                console.log(socket.room.length)
                if(socket.room.length > 0 && socket.id_to_characters && Object.keys(socket.id_to_characters).length > 1)
                {
                        console.log("room size of at least one")
                        first_user_ready = socket.room[0]
                        console.log(socket.room)
                        var stringRoom = JSON.stringify(socket.room);
                        socket.emit('first_ready', {'room': 'room1','room_size': socket.room.length, 'id': socket.id, 'first_id_ready': first_user_ready,'users_in_room':stringRoom});
                }

                if(socket.in_room) {
                    $('#usersInRoom').removeClass("hidden")
                    $('#usersInRoom').html("")
                    socket.room.forEach(function(item,index) {
                        if(socket.id_to_characters[item])
                        {
                            console.log(socket)
                            var string = '<li syle="visibility:visible">';
                            string += socket.id_to_username[item] + ": ";
                            console.log(socket.id_to_characters[item])

                            socket.id_to_characters[item].forEach(function(innerItem,index) {
                                console.log(innerItem)
                                string += (innerItem);
                                if(index != socket.id_to_characters[item].length - 1)
                                    string += ", "
                            })
                            console.log(string)
                            string += '</li>';
                            $('#usersInRoom').append(string);
                        }
                    });

                }
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': '+ msg.username + " has chosen " + msg.character_id).html());
                if (cb)
                    cb();
            })

            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });

            $('form#username').submit(function(event) {
                console.log("here")
                socket.username = $('#username_data').val()
                socket.id_to_username[socket.id] = socket.username 
                socket.emit('username_event', {'username': $('#username_data').val(),'id':socket.id});
                $('#username').hide();
                $('#join').show();
                return false;
            });

            $('form#join').submit(function(event) {
                console.log("form join")
                socket.in_room = true;
                var first_user_ready;
                roomLength = socket.room ? socket.room.size : 0; 
                if(roomLength > 0)
                {
                        console.log("room size of at least one")
                        first_user_ready = socket.room[0]
                        console.log(socket.room)
                }
                var stringRoom = JSON.stringify(socket.room);
                socket.emit('join', {'room': 'room1','room_size': roomLength, 'id': socket.id, 'first_id': first_user_ready,'users_in_room':stringRoom});
                return false;
            });

            $('form#startBattle').submit(function(event) {
                socket.emit('start_battle',{'room':'room1'})
                return false;
            });

            //this defines that all button clicks perform this event
            $('.creatureButton').click(function(event) {
                id_str = $(this).attr('id');
                socket.characters.push({ id_str : {'health':20,'action':null}});
                socket.emit('character_chosen', {'character_id': $(this).attr('id'), 'user_id': socket.id});
                return false;
            });

            $('#playCards').submit(function(event){
                //see which action card they have selected for each character
                //see which character card they have selected for each user
            })

            $('.actionButton').submit(function(event){
                console.log('action button')
                socket.current_action_selected = $(this).attr('id');
                $('.actionButton').first().css('all','unset')
                $(this).first().css('background-color','SeaGreen');
                if(socket.current_action_selected && socket.current_creature_selected)
                {
                    $('#playCards').show();
                }
                socket.emit('my_broadcast_event',  {data: "hello"});
                return false;
            })

            $('#userButton').on('click','.creatureSelectButton',function(event){
                console.log($(this))
                console.log("creature select")
                //grab inner html
                // socket.current_creature_selected = $(this).attr('id');
                // $('#userButton .creatureSelectButton').first().css('all','unset')
                // //$(this).first().css('background-color','SeaGreen');
                // if(socket.current_action_selected && socket.current_creature_selected)
                // {
                //     $('#playCards').show();
                // }
                socket.emit('my_broadcast_event',  {data: "hello"});
                return false;
            });


        });
    </script>
</head>
<body style="background-color:white;">

    <button class="hidden creatureButton" id="Godzilla">Godzilla</button>
    <button class="hidden creatureButton" id="SodaBottle">Soda Bottle</button>
    <button class="hidden creatureButton" id="Mothera">Mothera</button>
    <button class="hidden creatureButton" id="Gamera">Gamera</button>

    <h1 id="header"></h1>
    <h1 id="waiting" class="hidden">Waiting for Other Players</h1>

    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="username" method="POST" action='#'>
        <input type="text" name="username_data" id="username_data" placeholder="Username">
        <input type="submit" value="Username">
    </form>

    <form id="startBattle" class="hidden" method="POST" action='#'>
        <input type="submit" value="Start Battle">
    </form>

    <form id="join" class="hidden" method="POST" action='#'>
        <input type="submit" value="Join Room">
    </form>

    <ol id="usersInRoom" class="hidden"></ol>

    <h2 class="hidden battle">Action Select</h2>
    
    <form class="hidden actionButton battle" id="attack" method="POST" action='#'> 
        <input type="submit" value="Attack">
    </form>
    <form class="hidden actionButton battle" id="defend" method="POST" action='#'>
        <input type="submit" value="Defend">
    </form>
    <form class="hidden actionButton battle" id="heal" method="POST" action='#'>
        <input type="submit" value="Heal">
    </form>
    <form class="hidden actionButton battle" id="sp" method="POST" action='#'>
        <input type="submit" value="Special Power">
    </form>

    <h2 class="hidden battle">Creature Select</h2>

    <div class="creatureButtonDiv" id="userButton"></div>

    <form class="hidden" id="playCards">
        <input type="submit" value="Play Cards">
    </form>

    <h2 class="hidden battle">Logs</h2>
    
    <div id="log" ></div>
</body>
</html>